<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Wedding Quiz</title>
	<link rel="stylesheet" href="flipper.css">
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/qrcode.min.js"></script>
	<script>GAME_ID = <%= gameId %>;</script>
	<script src="board.js"></script>  	
	<style>
		#main {
			position: relative;
			width: <%= width %>px;
			height: <%= height %>px;
			margin: 0 auto;
		}
		#main > div {
			position: absolute;
		}
		#main div.back {
			background: url('<%= url %>') 0 0 no-repeat;
		}
		#main div.front {
			box-shadow: 0 0 3px #FFF inset;
		}
		#player-link {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
  </style>
</head>
<body>
	<div id="main">
	<% blocks.forEach(function(r) { %>
		<div id="card<%= r.card %>" class="flip-container" style="top: <%= r.top %>; left: <%= r.left %>; width: <%= r.width %>; height: <%= r.height %>">
			<div class="flipper">
				<div class="front" style="width: <%= r.width %>; height: <%= r.height %>"></div>
				<div class="back" style="width: <%= r.width %>; height: <%= r.height %>; background-position: <%= r.bgLeft %> <%= r.bgTop %>"></div>
			</div>
		</div>
	<% }); %>
	</div>
	<a href="/<%= gameId %>/question" target="_new" id="player-link">
		<div id="player-qrcode"></div>
	</a>
</body>
</html>